---
layout: default
title: Conference Program
og_tags:
  - property: og:description
    content: We are delighted to announce the ACM ICN 2017 main conference program.   
---

<h2>Conference Program</h2>

<p>Details will be announced shortly.
The following information is preliminary.
</p>

<center>
<a href="images/schedule-overview.pdf" data-ajax="false"><img class="schedule" src="images/schedule-overview.jpg"></a>
</center>

<!-- <p>Kindly note that the schedule below is tentative and subject to updates. You may also subscribe to the <a href="https://calendar.google.com/calendar/embed?title=ACM%20SIGCOMM%20Agenda&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=fgkdoih822v80dfk304pt56fjo%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FSao_Paulo">SIGCOMM conference schedule</a> on Google calendar.</p> -->

<p>&nbsp;</p>

<h3>Keynote: Private Namespaces in ICN</h3>

<img class="photo-left" src="images\photo-jon-crowcroft.jpg">
<p><a href="https://www.cl.cam.ac.uk/~jac22">Jon Crowcroft</a> will give the keynote
at ACM ICN 2017.</p>

<p>Jon Crowcroft has been the Marconi Professor of Communications Systems
in the Computer Laboratory of University of Cambridge since October 2001. He has worked in the
area of Internet support for multimedia communications for over 30
years. Three main topics of interest have been scalable multicast
routing, practical approaches to traffic management, and the design of
deployable end-to-end protocols. Current active research areas are
Opportunistic Communications, Social Networks, and techniques and
algorithms to scale infrastructure-free mobile systems. He leans
towards a "build and learn" paradigm for research.
</p>

<blockquote>
<headline>Abstract</headline>
<p>
Names contain rich semantics, and so knowing who is interested in which named data can
represent an invasion of privacy. At the
same time, name structures can help with organising information (ontologies etc) - in this talk
I'll discuss some ideas about
creation and use of private name spaces.
</p>
<!--<footer><cite title="Abstract">Abstract</cite></footer>-->
</blockquote>


<h3>List of Accepted Papers</h3>
<p>Note that paper titles might be slightly different in the final
proceedings. Before citing one of the papers below, please wait until the
proceedings are published.</p>

{% include program-online.html type="accepted-papers" %}

<h3>List of Accepted Posters</h3>
{% include program-online.html type="posters" %}

<h3>List of Accepted Demos</h3>
{% include program-online.html type="demos" %}

